:root {
  --main-font-family: 'Inter', sans-serif;
  --accent-font-family: 'PressStart2P', sans-serif;

  --main-color: #fff;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(
    180deg,
    #d3d3d3 0 2px,
    rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: var(--accent-color);
  --animation-fill-color: red;

  --main-font-weight: 400;
  --accent-font-weight: 700;

  --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-description-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  --main-padding: clamp(0px, calc(max(0px, 100vw - 375px) * 74 / 213), 370px);
  --header-block-size: clamp(327px, calc((100vw - 375px) * 0.0385 + 327px), 368px);

  --main-border: solid 2px var(--accent-color);
  --image-label-right: clamp(13px, calc(13px + max(0px, 100vw - 375px) * 12 / 1065), 25px);;
}